.input {
  display: flex;
  gap: 0.5rem;
  width: 70%;
  height: 60%;
  flex-direction: column;
}

.input > div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.input svg {
  color: #144272;
  transition: all ease-in-out 0.2s;
}

.input svg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.add-node {
  display: flex;
  align-items: center;
}

.input > button {
  border: none;
  background: #144272;
  padding: 0.6rem 0.8rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  align-self: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nodes {
  display: flex;
  align-items: center;
}

.nodes > input {
  font-size: 1.1rem;
}

.nodes > div {
  width: 1.3rem;
  height: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  background-color: #d7d8d8;
  border-radius: 50%;
  transition: all ease 50ms;
}

.primary-node {
  border: 3px solid #144272;
}

.input-warning {
  border: none;
  outline: red 2px solid;
}
